/* ОСНОВНОЙ БЛОК */
.main_div
{
    width: 1000px;
    margin: 0 auto;
}



/* ЛОГОТИП */
/* Блок логотипа. */
.logo_div
{
    margin: 0 auto;
    text-align: center;
}



/* ОПИСАНИЕ ТАБЛИЦЫ */
.table_description_div
{
    margin: 0 auto;
}



/* ТАБЛИЦА */
/* Класс таблицы с данными, полученными из SQL-запроса. */
.output_table
{
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
}

/* Строки таблицы. */
tr
{
    border: 1px solid black;
}

/* Столбцы таблицы. */
th
{
    border: 1px solid black;
    text-align: center;
}

/* Ячейки таблицы */
td
{
    text-align: center;
    border: 1px solid black;
}

/* При наведении курсора на строку таблицы */
.output_table tr:hover
{
    background-color: #0a8a93;
    color: #ffffff;
}
